<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>


        <div id="navigation" class="col-sm-2">
            {% include navigation.html %}
        </div>


      </header>
      <section>
      {% if page.title %}
      <h1>{{page.title}}</h1>
      {% else %}
      <br/>
      <br/>
      {% endif %}
      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script>
            function orderNav() {
                var navDIV = document.querySelectorAll('.dropdown-content');
                console.log(document.querySelectorAll('.dropdown-content').length);
                if (!navDIV) return;
                for (var x = 1; x < navDIV.length; x++){
                    var navLis = document.querySelectorAll('.dropdown-content#menucontent'+x+' a');
                    var sortedlist,
                        lists = []
                    for (var i = 0; i < navLis.length; i++) {
                        var order, li = navLis[i];
                        order = parseFloat(li.getAttribute('data-order'))
                        lists.push([order, li]);
                    }
                    sortedlist = lists.sort(function(a, b) {
                        return a[0] - b[0];
                    });
                    for (var j = 0; j < sortedlist.length; j++) {
                        navDIV[x-1].appendChild(sortedlist[j][1]);
                    }
                }
            }
            if (document.querySelectorAll) orderNav();
        </script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
