<ul class="nav nav-list">
    <li><a class="nav-home nav-header" href="{{ site.baseurl }}/">Overveiw</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}
        {% if forloop.last %}
            {% assign lastsection = true %}
        {% else %}
            {% assign lastsection = false %}
        {% endif %}
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">{{ label }}</a>
          <div class="dropdown-content" id="menucontent{{ forloop.index }}">
            {% for page in site.categories[attr] %}
                  <a data-order="{{ page.order }}" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
          </div>
        </li>
    {% endfor %}
    <li><a class="nav-home nav-header" href="{{ site.github.owner_url }}/">GitHub Project</a></li>
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
