---
---


@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: normal;
src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot"); src:
url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix")
format("embedded-opentype"), local("Noto Sans"), local("Noto-Sans-regular"),
url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"),
url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"),
url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"),
url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: normal;
src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot"); src:
url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix")
format("embedded-opentype"), local("Noto Sans Bold"), local("Noto-Sans-700"),
url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"),
url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"),
url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"),
url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: italic;
src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot"); src:
url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix")
format("embedded-opentype"), local("Noto Sans Italic"),
local("Noto-Sans-italic"),
url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"),
url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"),
url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"),
url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: italic;
src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot"); src:
url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix")
format("embedded-opentype"), local("Noto Sans Bold Italic"),
local("Noto-Sans-700italic"),
url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"),
url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"),
url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"),
url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans")
format("svg"); } .highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .cd { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: #009999; }

.highlight .mh { color: #009999; }

.highlight .il { color: #009999; }

.highlight .mi { color: #009999; }

.highlight .mo { color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight { background-color: #f8f8f8; }

body { background-color: #fff; padding: 50px; font: 14px/1.5 "Noto Sans",
"Helvetica Neue", Helvetica, Arial, sans-serif; color: #727272; font-weight:
400; }

h1, h2, h3, h4, h5, h6 { color: #222; margin: 0 0 20px; }

p, ul, ol, table, pre, dl { margin: 0 0 20px; }

h1, h2, h3 { line-height: 1.1; }

h1 { font-size: 28px; }

h2 { color: #393939; }

h3, h4, h5, h6 { color: #494949; }

a { color: #267CB9; text-decoration: none; }

a:hover, a:focus { color: #069; }

a small { font-size: 11px; color: #777; margin-top: -0.3em; display: block; }

a:hover small { color: #777; }

.wrapper { width: 860px; margin: 0 auto; }

blockquote { border-left: 1px solid #e5e5e5; margin: 0; padding: 0 0 0 20px;
font-style: italic; }

code, pre { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console,
Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
color: #333; font-size: 12px; }

pre { padding: 8px 15px; background: #f8f8f8; border-radius: 5px; border: 1px
solid #e5e5e5; overflow-x: auto; }

table { width: 100%; border-collapse: collapse; }

th, td { text-align: left; padding: 5px 10px; border-bottom: 1px solid #e5e5e5; }

dt { color: #444; font-weight: 700; }

th { color: #444; }

img { max-width: 100%; }

header { width: 270px; float: left; position: fixed; -webkit-font-smoothing:
subpixel-antialiased; }

#navigation {
  width: 130px;
}
header ul, { list-style: none; padding: 0; background: #f4f4f4;
border-radius: 3px; border: 1px solid #e0e0e0; }

header li { border-bottom: 1px solid #e0e0e0;}
//
// header li:first-child a { border-radius: 5px 0 0 5px; }
//
// header li:last-child a { border-radius: 0 5px 5px 0; }

header li a { line-height: 1; font-size: 16px; color: #676767; display: block;
text-align: left; padding-top: 6px; padding: 10px;}

header li a:hover, header ul a:focus { color: #675C5C;}

header li a:active { background-color: #f0f0f0; }

strong { color: #222; font-weight: 700; }




section { width: 500px; float: right; padding-bottom: 50px; }

small { font-size: 11px; }

hr { border: 0; background: #e5e5e5; height: 1px; margin: 0 0 20px; }

footer { width: 270px; float: left; position: fixed; bottom: 50px;
-webkit-font-smoothing: subpixel-antialiased; }






ul {
    list-style-type: none;
    overflow: hidden;
}




li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}

li.dropdown {

}

.dropdown-content {
    vertical-align: top;
    display: none;
    position: absolute;
    float: left;
    margin-left: 128px;
    margin-top: -37px;
    background-color: #f9f9f9;
    min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    background: #f4f4f4;
    border-radius: 0px 3px 3px 3px;
    border: 1px solid #e0e0e0;
}

.dropdown-content a {
    font-size: 16px;
    color: #676767;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-content a:hover {background-color: lightgrey}

.dropdown:hover .dropdown-content {
    display: inline-block;
}
